.redactor-box textarea {
    font-size: 13px !important;
    line-height: 1.4em !important;
}

.redactor-box .redactor-styles {
    font-family: inherit !important;
    font-size: 14px;
    line-height: 1.6em;
}

.redactor-dropdown {
    font-family: inherit !important;
}

.redactor-link-tooltip {
    font-family: inherit !important;
}

.redactor-air li a,
.redactor-toolbar li a {
    height: 32px !important;
}

.redactor-air li a.re-button-icon,
.redactor-toolbar li a.re-button-icon {
    padding: 9px 10px !important;
    font-size: 14px !important;
}

.redactor-air li a .re-button-tooltip,
.redactor-toolbar li a .re-button-tooltip {
    font-family: Helvetica, Arial !important;
    padding: 5px 8px !important;
    bottom: -22px !important;
    color: #fff !important;
    z-index: 1;
}

.redactor-box .redactor-styles h1,
.redactor-box .redactor-styles h2,
.redactor-box .redactor-styles h3,
.redactor-box .redactor-styles h4,
.redactor-box .redactor-styles h5,
.redactor-box .redactor-styles h6 {
    font-family: Helvetica, Arial;
}

.redactor-dropdown-box-format .redactor-dropdown-h1 {
    font-size: 32px !important;
    line-height: 36px !important;
}

.redactor-dropdown-box-format .redactor-dropdown-h2 {
    font-size: 24px !important;
    line-height: 36px !important;
}

.redactor-dropdown-box-format .redactor-dropdown-h3 {
    font-size: 21px !important;
    line-height: 30px !important;
}

.redactor-dropdown-box-format .redactor-dropdown-h4 {
    font-size: 18px !important;
    line-height: 26px !important;
}

.redactor-dropdown-box-format .redactor-dropdown-h5 {
    font-size: 16px !important;
    line-height: 23px !important;
}

ul.redactor-dropdown {
    font-family: Helvetica, Arial;
    max-height: 400px;
}
